.item-container {
  display: flex;
  border: 1px solid black;
  margin-top: 3px;
  border-radius: 10px;
  background-color: #f2f2f4;
}

.item {
  width: 455px;
  padding-left: 5px;
  text-align: left;
  white-space: nowrap; /* 2. Forces the text to stay on a single line */
  overflow: hidden; /* 3. Hides the text that spills out */
  text-overflow: ellipsis;
}

.non-title {
  display: flex;
  justify-content: center;
}

.up-down {
  background-color: inherit;
  border: none;
  color: blue;
  font-weight: 800;
}

.up-down:hover {
  color: #f99500;
}

.up-down:active {
  transform: translateY(2px);
}

.count {
  display: flex;
  font-weight: 600;
  gap: 10px;
}
