.main-container {
  display: grid;
  font-family: "Nunito";
  padding: 30px 50px;
  font-size: 1.5rem;
}

.label-container {
  display: flex;
  justify-content: space-around;
  width: 1370px;
  margin-bottom: 20px;
  color: #f99500;
  font-weight: 900;
}

.invoice-continer {
  display: grid;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding-right: 200px;
}

.checkout-btn {
  font-family: "Nunito";
  font-size: 1.5rem;
  height: 50px;
  border-radius: 10px;
  background-color: #0057e7;
  color: white;
  font-weight: 700;
  padding: 0px 20px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.checkout-btn:active {
  transform: translateY(3px);
}

.no-items {
  padding-left: 600px;
  margin-top: 100px;
}
