.header-container {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito";
  padding: 0px 50px;
}

.logo {
  margin: 10px 0px;
}

.logo:hover {
  color: #ffc220;
}

h1 {
  color: #0057e7;
  font-size: 2.5rem;
  font-weight: 800;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  font-family: "Nunito";
  font-size: 1.3rem;
  background-color: inherit;
  border: none;
  font-weight: 600;
}

.link:hover {
  color: #ffc220;
}

.link:active {
  transform: translateY(2px);
}
